.message {
  border: 1px solid #777;
  padding: 7px;
  margin: 5px;
}

.output-empty {
  padding: 7px;
  margin: 5px;
  color: rgb(152, 255, 34);
}

.output {
  padding: 7px;
  margin: 5px;
  color: rgb(203, 23, 149);
}

.process-button {
  border: 1px solid #777;
  background-color: #555;
  color: white;
  padding:15px;
}

.process-button:hover{
    background-color: #999;
    cursor:pointer;
}